<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;width: 100%">
    <mat-card fxFlex="40" fxFlex.xs="80">
        <mat-card-header>
            <mat-card-title>Request Password reset link</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="Form-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your registered email"  type="text" formControlName="userName">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!requestForm.valid">Request</button>
                </form>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" style="height: 100%;width: 100%">
            <button mat-button color="accent" routerLink="/guest/login">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
