<mat-toolbar color="#F1F8E9" style="border-bottom: 1px solid #ccc">
    <button mat-icon-button *ngIf="authService.loggedIn() && adminPermission()" aria-label="Toggle sidenav" (click)="drawer.toggle()"><mat-icon style="color: #568B3E;">menu</mat-icon></button>
	<span style="color: #d02539;font-size: 25px;padding-left: 16px;">Evelabs</span>
	<span class="example-fill-remaining-space"></span>
	<button *ngIf="nursePermission()" mat-button [fxShow.gt-sm]="true"  fxHide [fxHide.xs]="true" style="color:#757575;font-size: 16px;font-weight: 100;" routerLink="/nurse/selectstation">{{authService.getHospitalName()}}</button>  
    <span *ngIf="nursePermission() && authService.stationSelected()" [fxShow.gt-sm]="true" fxHide [fxHide.xs]="true"  style="color:#757575;font-size: 16px;font-weight: 100;padding-left: 1em;padding-right: 1em;"> > </span>
    <button *ngIf="nursePermission()" style="color:#757575;font-size: 16px;font-weight: 100;" class="station_name" routerLink="/nurse/home" mat-button>{{authService.getStationName()}}</button>
    <span class="toolbar-spacer"></span>
    <button mat-button *ngIf="!authService.loggedIn()" routerLink="/guest/login" routerLinkActive="toolbar-active">Login</button>
    <button mat-button *ngIf="!authService.loggedIn()" routerLink="/guest/register" routerLinkActive="toolbar-active">Register</button>
    <button *ngIf="authService.loggedIn()" mat-button [matMenuTriggerFor]="accountMenu" routerLinkActive="toolbar-active" class="menu_icon" (click)="drawer.close()"><mat-icon >account_circle</mat-icon></button>
  	<mat-menu #accountMenu="matMenu">
		<button mat-menu-item routerLink="/nurse/home">
			<mat-icon>home</mat-icon>
			<span>Home</span>
		</button>
  	  <button mat-menu-item disabled>
  	      <mat-icon>person_outline</mat-icon>
  	      <span>{{authService.getUserName()}}</span>
  	    </button>
  	    <button mat-menu-item disabled>
  	      <mat-icon>local_hospital</mat-icon>
  	      <span>{{authService.getHospitalName()}}</span>
  	    </button>
  	    <button mat-menu-item (click)="authService.logoutUser()">
  	      <mat-icon>power_settings_new</mat-icon>
  	      <span>Logout</span>
  	    </button>
  	</mat-menu>
</mat-toolbar>

<mat-sidenav-container class="main-container" [hasBackdrop]="true" class="frame">
	<mat-sidenav #drawer mode="over" closed role="navigation">
    	<mat-nav-list  *ngFor="let item of authService.getMenu()" (click)="drawer.close()">
      		<a mat-list-item routerLinkActive="active-list-item" routerLink='{{item.href}}' style="padding-right: 20px;"><mat-icon style="padding-right: 20px;">{{item.icon}}</mat-icon><span>{{item.menu}}</span></a>
    	</mat-nav-list>
  	</mat-sidenav>
  	<mat-sidenav-content>
    	<router-outlet></router-outlet>
  	</mat-sidenav-content>
</mat-sidenav-container>

<footer  fxShow [fxShow.xs]=true fxHide [fxHide.gt-sm]="true"  *ngIf="nursePermission() && authService.stationSelected()" style="padding: 0;">
	<mat-toolbar color="#F1F8E9" fxLayout="row" flexLayoutAlign="center center" style="padding: 0;">
	<button mat-button fxFlex=50 style="align-items: center;text-align: center;padding: 0;height: 100%;width: 100%" routerLink="/nurse/home" routerLinkActive="active-list-item">
		<mat-icon >home</mat-icon>
	</button>
	<button mat-button fxFlex=50 style="align-items: center;text-align: center;padding: 0;height: 100%;width: 100%" routerLink="/nurse/patienthistory" routerLinkActive="active-list-item">
		<mat-icon>receipt</mat-icon>
	</button>
	</mat-toolbar>
</footer>