.toolbar-spacer {
    flex: 1 1 auto;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 16 1 auto;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline{
    background: #ffffffff;
    border-radius:5px 0 0 5px
  }
  
  .toolbar-active{
      color:black;
  }
  .main-container {
    width: 100%;
    height: 94%;
  
    background: #eee;
  
  }
  .frame{
    height:100%;
  }
  
  .active-list-item {
    color: #568B3E !important; /* Note: You could also use a custom theme */
    background-color: inherit !important;
  }
  .mat-list-item{
      background-color: inherit !important;
  
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  
  @media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .menu_icon{
      padding-right: 0px;
      padding-left: 0px;
    }
    .mat-toolbar{
      padding-right: 0px;
      padding-left: 0px;
    }
    .station_name{
      padding-left: 10px;
      padding-top: 5px;
    }
    .frame{
      height:92%;
    }
  
  }
  @media (min-width:481px)  {
     /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
     .menu_icon{
      padding-right: 0px;
      padding-left: 0px;
  
    }
    .mat-toolbar{
      padding-right: 0px;
      padding-left: 0px;
    }
     .station_name{
      padding-left: 10px;
      padding-top: 5px;
    }
    .frame{
      height:100%;
    }
  
  }