<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;width: 100%">
    <mat-card fxFlex="40" fxFlex.xs="80">
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
             <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="resetForm-container">
                 <mat-form-field>
                     <input matInput placeholder="Enter password" type="password" formControlName="password">
                     <mat-icon matSuffix>vpn_key</mat-icon>
                     <mat-error *ngFor="let validation of validationMessages.password">
                            <mat-error class="error-message" *ngIf="resetForm.get('password').hasError(validation.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">{{validation.message}}</mat-error>
                     </mat-error>
                 </mat-form-field>
                 <mat-form-field>
                     <input matInput placeholder="Repeat password" type="password" formControlName="confirmPassword">
                     <mat-icon matSuffix>vpn_key</mat-icon>
                     <mat-error class="error-message" *ngIf="resetForm.controls.confirmPassword.invalid">Password missmatch</mat-error>
                 </mat-form-field>
                 <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid">reset</button>
             </form>   
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" style="height: 100%;width: 100%">
            <button mat-button color="accent" routerLink="/login">Login</button>
        </mat-card-actions>
    </mat-card>
</div>

