<div fxLayout="row" fxLayout.xs="column-reverse wrap" style="height: 100%;width: 100%; margin-top: 10px;" fxLayoutGap="10px" fxLayoutGap.xs="0px">
        <div fxFlex="70" fxFlex.xs="40" class="scrollable">
            <div fxLayout="column" fxLayoutGap="10px" >
                <mat-card fxLayout="row" *ngFor="let dripo of dripos |filter:term">
                    <div fxFlex="50" fxFlex.xs="60">{{dripo.dripoId}}  <b>{{dripo.altName}}</b> <br>{{dripo.stationName}}</div>
                    <div fxFlex="25" fxHide.xs="true" fxHide.sm="true" style="color: blue" (click)="openEditDialog(dripo)" class="mat-button">Edit</div>
                    <div fxFlex="20" fxHide.xs="false" fxHide.sm="false" fxHide.md="true" fxHide.lg="true" fxHide.xl="true" style="color: blue" (click)="openEditDialog(dripo)" class="mat-button">
                        <mat-icon>edit</mat-icon>
                    </div>
                    <div fxFlex="25" fxHide.xs="true" fxHide.sm="true" style="color: red" (click)="openDeleteDialog(dripo)" class="mat-button">Remove</div>
                    <div fxFlex="20" fxHide.xs="false" fxHide.sm="false" fxHide.md="true" fxHide.lg="true" fxHide.xl="true" style="color: red" (click)="openDeleteDialog(dripo)" class="mat-button">
                        <mat-icon>close</mat-icon>
                    </div>
                </mat-card>
            </div>
        </div>
        <div fxFlex="30" fxFlex.xs="60" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="60" fxFlex.xs="100">
                <mat-card>
                    <mat-card-header>
                          <mat-card-title>Dripo</mat-card-title>
                          <mat-card-subtitle>Add Dripo</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                            <form [formGroup]="createDripoForm" (ngSubmit)="onSubmit(createDripoForm,formDirective)"  #formDirective="ngForm">
                                 <div class="form-container">
                                     <mat-form-field>
                                           <mat-select placeholder="Station" formControlName="stationId">
                                             <mat-option *ngFor="let station of stations" [value]="station._id">
                                                   {{station.stationName}}
                                             </mat-option>
                                           </mat-select>
                                           <mat-icon matSuffix>important_devices</mat-icon>
                                           <mat-error *ngFor="let validation of validationMessages.stationId">
                                               <mat-error class="error-message" *ngIf="createDripoForm.get('stationId').hasError(validation.type) && (createDripoForm.get('stationId').dirty || createDripoForm.get('stationId').touched)">{{validation.message}}</mat-error>
                                           </mat-error>
                                     </mat-form-field>
                                       <mat-form-field>
                                           <input matInput placeholder="Enter dripo id" type="text" formControlName=dripoId>
                                           <mat-icon matSuffix>speaker_phone</mat-icon>
                                           <mat-error *ngFor="let validation of validationMessages.dripoId">
                                               <mat-error class="error-message" *ngIf="createDripoForm.get('dripoId').hasError(validation.type) && (createDripoForm.get('dripoId').dirty || createDripoForm.get('dripoId').touched)">{{validation.message}}</mat-error>
                                           </mat-error>
                                       </mat-form-field>
                                       <mat-form-field>
                                           <input matInput placeholder="Enter alternative name" type="text" formControlName=altName>
                                           <mat-icon matSuffix>info</mat-icon>
                                           <mat-error *ngFor="let validation of validationMessages.altName">
                                               <mat-error class="error-message" *ngIf="createDripoForm.get('altName').hasError(validation.type) && (createDripoForm.get('altName').dirty || createDripoForm.get('altName').touched)">{{validation.message}}</mat-error>
                                           </mat-error>
                                       </mat-form-field>
                                 </div>
                                 <button mat-raised-button color="accent"  type="reset" (click)="createDripoForm.reset()" style="margin-right: 20px;">cancel</button>
                                 <button mat-raised-button color="primary" type="submit" [disabled]="!createDripoForm.valid">Submit</button>
                             </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="40" fxFlex.xs="50"  fxHide.xs="true">
                <mat-card>
                    <mat-card-header>
                          <mat-card-title>Dripo</mat-card-title>
                          <mat-card-subtitle>Filters</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="form-container">
                        <mat-form-field appearance="outline">
                            <mat-icon matSuffix>search</mat-icon>
                            <input  matInput placeholder="search station" type="text" [(ngModel)]=term>
                        </mat-form-field>
                        <br>
                        
                    </mat-card-content>
                </mat-card>
                
            </div>
        </div>
        
    </div>
    
    
    